button:focus {
    outline: unset;
}

/* header start */

#mheader {
    position: fixed;
    top: 10px;
    width: 100%;
    background: #ffffff;
}

.c-nav-link i {
    color: #400A00;
    font-size: 30px;
}

.navbar-toggler {
    outline: unset;
    transition: all .2s linear;
}

.navbar-toggler.isactive {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    transition: all .2s linear;
}

.c-nav-link:hover {
    text-decoration: none;
    transition: all 1s linear;
}

.nav-link {
    text-align: center;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.c-nav-item a {
    margin: 0 0.5rem;
    color: #400A00;
    font-size: 14px;
}

.navbar-brand {
    margin: 0 auto;
}

@media(max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid #eeeeee;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        display: none;
        text-align: center;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        text-align: right;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (min-width: 856px) {
    .navbar-brand img {
        transform: scale(.9);
        display: inline-block;
    }
}

/* header end */

/* container start */

#mcontainer {
    padding-top: 100px;
    height: 200px
}

/* container end */

/* footer start */

#mfooter {
    padding: 1.875rem;
    background: #441100;
    color: #fff;
}

.f-title {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.25rem
}

.f-content {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    color: #eee;
}

.f-content p a {
    color: #fff;
}

.f-content p a:hover {
    text-decoration: none;
    color: #ccc;
}

.qrcode-wrap {
    vertical-align: bottom;
}

.qrcode {
    width: 180px;
}

@media (max-width: 768px) {
    .qrcode {
        margin-top: 20px;
        width: 150px;
    }
}

/* footer end */

/* 特殊样式控制 start*/

.f-title-sp {
    padding: 10px;
    margin: 5px 0;
    border-bottom: 5px solid #eee;
    cursor: pointer;
}

.f-content-sp {
    margin-top: 0;
    background: rgb(51, 8, 1);
    padding: 10px;
}

.f-content-sp p {
    border-bottom: 1px solid #fff;
}

.f-content-hide {
    display: block;
}

.f-btn {
    display: none;
    position: absolute;
    top: 35%;
    right: 10%;
    vertical-align: middle;
    cursor: pointer;
    transition: all .3s linear
}

.fbtn-isactive {
    transform: rotate(-180deg);
    transition: all .3s linear
}

/*  特殊样式控制 end*/