button:focus {
    outline: unset;
}

/* header start */

.mheader-wrap {
    height: 200px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #400A00;
}

.swiper-container {
    height: 100%;
}

.swiper-wrapper {
    height: 100%;
}

.bg-wrap {
    height: 100%;
}

.mheader-wrap,
.bg-wrap {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#mheader {
    z-index: 99;
    position: fixed;
    top: 0.625rem;
    width: 100%;
    background: #fff;
}

@media (max-width: 768px) {
    #mheader {
        top: 0;
    }
    .mheader-wrap {
        margin-top: 80px;
        width: 100%;
        height: 240px;
        background-size: contain;
    }
}

@media (min-width: 768px) {
    .mheader-wrap {
        height: 500px;
    }
}

@media (min-width: 1140px) {
    .mheader-wrap {
        height: 600px;
    }
}

.c-nav-link i {
    color: #400A00;
    font-size: 1.875rem;
}

.navbar-toggler {
    outline: unset;
    transition: all .2s linear;
}

.navbar-toggler.isactive {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    transition: all .2s linear;
}

.c-nav-link:hover {
    text-decoration: none;
    transition: all 1s linear;
}

.nav-link {
    text-align: center;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.c-nav-item a {
    margin: 0 0.5rem;
    color: #400A00;
    font-size: 14px;
}

.navbar-brand {
    margin: 0 auto;
}

@media(max-width: 768px) {
    .navbar-nav {
        margin-top: 0.625rem;
        border-top: 0.0625rem solid #eeeeee;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        display: none;
        text-align: center;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        text-align: right;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (min-width: 870px) {
    .navbar-brand img {
        transform: scale(.9);
        display: inline-block;
    }
}

/* header end */

/* container start */

#mcontainer {
    padding-top: 6.25rem;
    height: 12.5rem
}

/* container end */

/* footer start */

#mfooter {
    padding: 1.875rem;
    background: #441100;
    color: #fff;
}

.f-title {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.25rem
}

.f-content {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    color: #eee;
}

.f-content p a {
    color: #fff;
}

.f-content p a:hover {
    text-decoration: none;
    color: #ccc;
}

.qrcode-wrap {
    text-align: center;
}

.qrcode-wrap p {
    margin-top: 0.3125rem;
    text-align: center;
}

.qrcode {
    width: 110px;
}

@media (max-width: 768px) {
    .qrcode {
        margin-top: 1.25rem;
        width: 5.625rem;
    }
}

@media (max-width: 1100px) {
    .qrcode {
        margin-top: 1.25rem;
        width: 4.375rem;
    }
    .qrcode-wrap p {
        font-size: 0.75rem;
    }
}

@media (max-width: 550px) {
    .qrcode-wrap {
        text-align: center;
        width: 5.625rem;
    }
    .qrcode-wrap p {
        font-size: 0.75rem;
    }
}

/* footer end */

/* 特殊样式控制 start*/

.f-title-sp {
    padding: 0.625rem;
    margin: 0.3125rem 0;
    border-bottom: 0.3125rem solid #eee;
    cursor: pointer;
}

.f-content-sp {
    margin-top: 0;
    /* background: rgb(51, 8, 1); */
    padding: 0.625rem;
}

.f-content-sp p {
    padding-bottom: 0.3125rem;
    border-bottom: 0.0625rem solid #fff;
    font-size: 14px;
}

.f-content-hide {
    display: block;
}

.f-btn {
    display: none;
    position: absolute;
    top: 35%;
    right: 10%;
    vertical-align: middle;
    cursor: pointer;
    transition: all .3s linear
}

.fbtn-isactive {
    transform: rotate(-180deg);
    transition: all .3s linear
}

/*  特殊样式控制 end*/