button:focus {
    outline: unset;
}


/* header start */
#mheader {
    position: fixed;
    top: 10px;
    width: 100%;
    background: #ffffff;
}

.c-nav-link i {
    color: #400A00;
    font-size: 30px;
}

.navbar-toggler {
    outline: unset;
    transition: all .2s linear;
}

.navbar-toggler.isactive {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    transition: all .2s linear;
}

.c-nav-link:hover {
    text-decoration: none;
    transition: all 1s linear;
}

.nav-link {
    text-align: center;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.c-nav-item a {
    margin: 0 0.5rem;
    color: #400A00;
    font-size: 14px;
}

@media(max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid #eeeeee;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        display: none;
        text-align: center;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        text-align: right;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (min-width: 856px) {
    .navbar-brand img {
        width: 140px;
        height: 50px;
        display: inline-block;
    }
}
/* header end */