/* 企业简介 start*/

.abs-title-wrap {
    padding: 30px 0;
    background-image: url(../img/abs_bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.abs-title-text {
    padding: 20px 0;
    text-align: center;
    color: #FEC701;
}

.abs-title-text .c {
    display: block;
    font-size: 30px;
}

.abs-title-text .e {
    display: block;
    text-transform: uppercase;
    color: white;
    font-size: 1.0625rem;
}

.line-wrap {
    width: 50%;
    margin: 0 auto;
}

@media(max-width:768px) {
    .line-wrap {
        width: 90%;
    }
    .abs-title-text .c {
        font-size: 24px;
    }
    .abs-title-text .e {
        font-size: 14px;
    }
}

.line-wrap span {
    content: '';
    display: inline-block;
    font-size: 0.75rem;
}

.l-line,
.r-line {
    width: 30%;
    height: 0.0625rem;
    background: #D5D0CD;
    vertical-align: middle;
}

.c-line {
    width: 10%;
    background: #FFC700;
    border-radius: 20px;
    height: 5px;
    vertical-align: middle;
}

.abs-title-img {
    width: 100%;
    margin: 5px auto 20px auto;
}

.abs-timg-wrap,
.abs-ttext-wrap {
    box-shadow: 3px 1px 10px #111;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.abs-timg-wrap {
    top: 0;
    width: 90%;
    height: 200px;
    background-size: cover;
}

.abs-ttext-wrap {
    position: relative;
    width: 90%;
    height: 200px;
    background-size: cover;
}

.abs-ttext-wrap a {
    position: absolute;
    right: 10%;
    bottom: 5%;
    font-size: 14px;
    color: #FFC700;
}

.abs-ttext-wrap span {
    display: inline-block;
    padding: 20px;
    color: #fff;
    text-indent: 2em;
}

@media (min-width:375px) {
    .abs-title-img {
        width: 80%;
    }
}

@media (min-width:550px) {
    .abs-title-img {
        position: relative;
        height: auto;
        width: 90%;
        height: 249px;
    }
    .abs-timg-wrap,
    .abs-ttext-wrap {
        position: absolute;
        width: 90%;
        margin: 0 auto;
    }
    .abs-timg-wrap {
        z-index: 2;
        top: 0;
        width: 50%;
        height: 100%;
    }
    .abs-ttext-wrap {
        z-index: 3;
        top: 10%;
        left: 45%;
        width: 55%;
        height: 80%;
    }
}

@media (min-width:820px) {
    .abs-title-img {
        width: 70%;
    }
}

@media (min-width:1180px) {
    .abs-title-img {
        width: 50%;
    }
}

@media (min-width:1366px) {
    .abs-title-img {
        width: 50%;
        height: 300px;
    }
}

.abs-title-bg {
    background-image: url(../img/abs_bg5.jpg);
    /* background-size: auto; */
    background-position: center;
    background-repeat: no-repeat;
    /* background: #441100; */
}

.abs-article-wrap {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    color: #ddd;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.abs-atext-wrap {
    padding: 30px 0;
    width: 80%;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    transition: all .5 linear;
}

.open-artical {
    margin-top: 10px;
    color: #FEC701;
    text-align: right;
    cursor: pointer;
}

.autoheight {
    height: auto;
    transition: all .5 linear;
}

@media(min-width:768px) {
    .abs-article-wrap {
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
        min-height: 400px;
        /* background-size: 100% 60%; */
    }
    .abs-atext-wrap {
        padding: 30px 0;
        width: 50%;
        height: auto;
        overflow: hidden;
        margin: 0;
        margin-left: 80px;
    }
    .open-artical {
        display: none;
    }
}

.abs-certificate-wrap {
    padding: 30px 0;
    background: #500500;
    text-align: center;
}

.abs-certificate-wrap img {
    width: 80%;
}

@media(min-width:768px) {
    .abs-certificate-wrap {
        position: relative;
        height: 550px;
    }
    .abs-certificate-wrap img {
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: auto;
    }
    .abs-img-border {
        z-index: 2;
        position: absolute;
        top: 25%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 75%;
        height: 300px;
        border: 5px solid #FFC700;
    }
}

@media(min-width:1600px) {
    .abs-img-border {
        top: 30%;
        width: 40%;
    }
}

/* 企业简介 end*/

/* 企业文化 start */

#culture .tab-header {
    padding: 20px 0;
    background: #4E1A0C;
}

#culture .nav-item {
    width: 110px;
    font-size: 14px;
}

#culture .nav-pills .nav-link {
    padding: 0 10px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

#culture .nav-pills .active {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #EEC801;
    color: #EEC801;
}

#culture .tab-header {
    justify-content: space-around;
}

@media(min-width:575px) {
    #culture .tab-header {
        justify-content: center;
    }
}

.detail-pane-box {
    padding: 20px 0;
    min-height: 400px;
    /* background: #500500; */
}

.detail-title {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'HYChengXingJ';
}

.detail-title p {
    margin: 0;
}

.detail-title p:first-child {
    font-size: 40px;
    color: #fff;
}

.detail-title p:last-child {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #fff;
    -moz-box-shadow: -2px -2px 2px -2px #eee inset;
    /* For Firefox3.6+ */
    -webkit-box-shadow: -2px -2px 2px -2px #eee inset;
    /* For Chrome5+, Safari5+ */
    box-shadow: -2px -2px 2px -2px #eee inset;
    /* For Latest Opera */
    color: #F5D81C;
}

.detail-title p:last-child span {
    color: red;
}

.jingshen,
.yuanjing,
.jazhiguan,
.jingying,
.linian,
.zongzhi {
    position: relative;
    background-size: cover;
    background-position: 25% 25%;
}

.jingshen {
    background-image: url(../img/abs_detail/bg_jingshen.jpg);
}

.yuanjing {
    background-image: url(../img/abs_detail/bg_yuanjing.jpg);
}

.jazhiguan {
    background-image: url(../img/abs_detail/bg_jiazhiguan.jpg);
    background-position: 25% 50%;
}

.jingying {
    background-image: url(../img/abs_detail/bg_jingying.jpg);
}

.linian {
    background-image: url(../img/abs_detail/bg_linian.jpg);
}

.zongzhi {
    background-image: url(../img/abs_detail/bg_zongzhi.jpg);
}

.jingshen-item {
    z-index: -1;
    position: absolute;
    left: 15%;
    top: 10px;
    width: 100px;
}

@media(min-width:600px) {
    .jingshen-item {
        z-index: 2;
        left: 15%;
        ;
        width: 100px;
    }
}

@media(min-width:768px) {
    .jingshen-item {
        z-index: 2;
        left: 25%;
        width: 100px;
    }
}

@media(min-width:990px) {
    .jingshen-item {
        z-index: 2;
        left: 28%;
        top: 0px;
        width: 120px;
    }
}

.jingshen-wrap {
    position: relative;
    margin-top: 20px;
    padding: 10px 0 40px 0;
    background: rgba(0, 0, 0, .5);
}

.js-item {
    margin-top: 40px;
    text-align: center;
}

.js-item-l,
.js-item-r {
    width: 55%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.js-item-l {
    padding: 5px 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #B98934;
    border-radius: 50%;
    font-weight: 600;
}

.js-item-r {
    margin-left: 20px;
    color: #fff;
    text-align: left;
}

@media(max-width:768px) {
    .js-item-l,
    .js-item-r {
        display: block;
        margin: 0 auto;
    }
    .js-item-l {
        margin-bottom: 20px;
    }
    .js-item-r {
        width: 80%;
    }
}

.yuanjing-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px 0 40px 0;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}

.yuanjing-item {
    display: inline-block;
    padding: 20px;
    writing-mode: vertical-lr;
    letter-spacing: 10px;
    writing-mode: tb-lr;
    background: #BB8934;
}

.linian-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.linian-item {
    text-align: center;
}

.linian-item-t {
    margin: 0 auto;
}

.linian-item-t {
    padding: 5px 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #BA8933;
    border-radius: 50%;
    font-weight: 600;
}

.linian-item-b {
    padding: 10px 10px;
    margin: 20px auto;
    height: 400px;
    writing-mode: vertical-lr;
    letter-spacing: 10px;
    writing-mode: tb-lr;
    text-align: left;
    border: 1px solid #BA8933;
    color: #BA8933;
}

.zongzhi-item {
    margin-bottom: 20px;
}

.zongzhi-item span {
    color: #EEC801;
    font-size: 17px;
    letter-spacing: 5px;
}

.zz-item1,
.zz-item1-con {
    display: inline-block;
}

.zz-item1-con {
    color: #fff;
}

.jiazhi_item2,
.jiazhi_item1,
.linian-item1,
.linian-item2,
.zongzhi-item1,
.zongzhi-item2,
.zongzhi-item3 {
    position: absolute;
    display: none;
}

@media(min-width:1350px) {
    .jiazhi_item2 {
        display: inline-block;
        width: 150px;
        top: 0;
        right: 10%;
    }
    .jiazhi_item1 {
        display: inline-block;
        width: 200px;
        bottom: 0;
        left: 0;
    }
    .linian-item1 {
        display: inline-block;
        width: 150px;
        top: 0;
        left: 10%;
    }
    .linian-item2 {
        display: inline-block;
        width: 110px;
        bottom: 0;
        right: 10%;
    }
    .zongzhi-item1 {
        display: inline-block;
        width: 110px;
        bottom: 0;
        right: 10%;
    }
    .zongzhi-item2 {
        display: inline-block;
        width: 150px;
        bottom: 0;
        left: 10%;
    }
    .zongzhi-item3 {
        display: inline-block;
        width: 150px;
        bottom: 0;
        right: 10%;
    }
}
.i-line {
    content: '';
    padding: 0;
    margin: 0 5px 0 0;
    height: 0.125rem;
    width: 1.25rem;
    display: inline-block;
    background: #A46111;
    vertical-align: middle;
}
.abs-ttext-wrap .i-line2 {
    content: '';
    padding: 0;
    margin: 0 5px 0 0;
    height: 2px;
    width: 1.25rem;
    display: inline-block;
    background: #fff;
    vertical-align: middle;
}
/* 企业文化 end */