button:focus {
    outline: unset;
}

@font-face {
    font-family: 'yuweij';
    src: url('../font/yuweij/yuweiji.ttf');
    src: url('../font/yuweij/yuweiji.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HYChengXingJ';
    src: url('../font/HYChenxingJ/HYChengXingJ.ttf');
    src: url('../font/HYChenxingJ/HYChengXingJ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* header start */

.mheader-wrap {
    height: 200px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #400A00;
}

.swiper-container {
    height: 100%;
}

.swiper-wrapper {
    height: 100%;
}

.bg-wrap {
    height: 100%;
}

.mheader-wrap,
.bg-wrap {
    position: relative;
    background-position: 45% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#mheader {
    z-index: 99;
    position: fixed;
    top: 0.625rem;
    width: 100%;
    background: #fff;
}

@media (max-width: 768px) {
    #mheader {
        top: 0;
    }
    .mheader-wrap {
        margin-top: 80px;
        width: 100%;
        height: 240px;
        background-size: contain;
    }
    .bg-wrap {
        background-position: center;
    }
}

@media (min-width: 768px) {
    .mheader-wrap {
        height: 500px;
    }
}

@media (min-width: 1140px) {
    .mheader-wrap {
        height: 600px;
    }
}

.c-nav-link i {
    color: #400A00;
    font-size: 1.875rem;
}

.navbar-toggler {
    outline: unset;
    transition: all .2s linear;
}

.navbar-toggler.isactive {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    transition: all .2s linear;
}

.c-nav-link:hover {
    text-decoration: none;
    transition: all 1s linear;
}

.nav-link {
    text-align: center;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.c-nav-item a {
    margin: 0 0.5rem;
    color: #400A00;
    font-size: 14px;
}

.navbar-brand {
    margin: 0 auto;
}

@media(max-width: 768px) {
    .navbar-nav {
        margin-top: 0.625rem;
        border-top: 0.0625rem solid #eeeeee;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        display: none;
        text-align: center;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        text-align: right;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (min-width: 870px) {
    .navbar-brand img {
        transform: scale(.9);
        display: inline-block;
    }
}

/* header end */

/* bread start */

.breadcrumb {
    margin: 0;
    padding: 0 1.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #500701;
    color: #B78431;
    border-radius: unset;
    font-size: 0.875rem;
}

.breadcrumb a {
    color: rgb(233, 229, 222);
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #B78431;
}

.breadcrumb>li+li:before {
    margin: 0 5px;
    color: #B78431;
    content: "/";
}

/* bread end */

/* container start */

#mcontainer {
    /* padding: 40px 0; */
}

/* container end */

/* footer start */

#mfooter {
    padding: 1.875rem;
    background: #441100;
    color: #fff;
}

.f-title {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.25rem
}

.f-content {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    color: #eee;
}

.f-content p a {
    color: #fff;
}

.f-content p a:hover {
    text-decoration: none;
    color: #ccc;
}

.qrcode-wrap {
    text-align: center;
}

.qrcode-wrap p {
    margin-top: 0.3125rem;
    text-align: center;
}

.qrcode {
    width: 110px;
}

@media (max-width: 768px) {
    .qrcode {
        margin-top: 1.25rem;
        width: 5.625rem;
    }
}

@media (max-width: 1100px) {
    .qrcode {
        margin-top: 1.25rem;
        width: 4.375rem;
    }
    .qrcode-wrap p {
        font-size: 0.75rem;
    }
}

@media (max-width: 550px) {
    .qrcode-wrap {
        text-align: center;
        width: 5.625rem;
    }
    .qrcode-wrap p {
        font-size: 0.75rem;
    }
}

/* footer end */

/* 特殊样式控制 start*/

.sp {
    padding: 4px;
    background: #222;
    font-size: 12px;
    text-align: center;
}

.sp p {
    margin: 0;
}

.f-content-sp {
    /* display: none; */
    margin-top: 0;
    /* background: rgb(51, 8, 1); */
    padding: 0.625rem;
}

.f-content-sp p {
    display: none;
    padding-bottom: 0.3125rem;
    border-bottom: 0.0625rem solid #fff;
    font-size: 14px;
}

.f-content-hide {
    display: block;
}

.f-btn {
    display: none;
    position: absolute;
    top: 35%;
    right: 4%;
    vertical-align: middle;
    cursor: pointer;
    transition: all .3s linear
}

.fbtn-isactive {
    transform: rotate(-180deg);
    transition: all .3s linear
}

@media (max-width:580px) {
    .f-title-sp {
        padding: 0.625rem;
        margin: 0.3125rem 0;
        border-bottom: 0.3125rem solid #eee;
        cursor: pointer;
    }
    .f-content {
        display: none;
    }
    .f-content-sp p {
        display: block;
        padding-bottom: 0.3125rem;
        border-bottom: 0.0625rem solid #fff;
        font-size: 14px;
    }
    .f-btn {
        display: inline-block;
    }
}

.isShow {
    display: block;
    animation: show .5s 1;
}

@keyframes show {
    /*设置内容由显示变为隐藏*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*  特殊样式控制 end*/

/* 招聘 start */

.title-content {
    position: relative;
    padding: 20px;
    background: #410703;
    text-align: center;
}

.word-logo {
    display: inline-block;
    vertical-align: bottom;
}

.title-content p {
    display: inline-block;
    margin-top: 2.5rem;
    margin-left: 1.875rem;
    padding: 0.625rem;
    border: 0.125rem solid #fff;
    font-family: 'yuweij';
    font-size: 1.875rem;
    line-height: 2em;
    color: #F8D51E;
    width: 2.2em;
    vertical-align: bottom;
}

.recruit_item3 {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 200px;
}

@media(min-width:1366px) {
    .recruit_item3 {
        left: 25%;
    }
}

@media(max-width:768px) {
    .title-content p {
        margin-top: 1.25rem;
        margin-left: 0;
        padding: 0.3125rem 0.625rem;
        width: auto;
        border: none;
        font-size: 2.1875rem;
        text-align: center;
    }
    .word-logo {
        display: none;
        opacity: 0;
    }
    .recruit_item3 {
        width: 6.25rem;
        left: 10%;
        width: 100px;
    }
}

.detail-content {
    position: relative;
    padding: 1.25rem 0;
    background-image: url(../img/bg_recruit.jpg);
    background-position: 25% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.recruit_item4 {
    position: absolute;
    right: 10%;
    top: 0;
    width: 100px
}

.recruit-bottle,
.recruit-bottle2 {
    position: absolute;
    display: none;
}

@media(min-width:1366px) {
    .detail-content {
        padding: 20px 0;
        background-image: url(../img/bg_recruit_em.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .recruit-bottle {
        z-index: 1;
        right: 80%;
        top: 13%;
        width: 185px;
        height: 430px;
        display: block;
    }
    .recruit-bottle2 {
        z-index: 1;
        display: block;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100px;
    }
    .recruit_item4 {
        right: 15%;
    }
}

@media(max-width:768px) {
    .detail-content {
        padding: 20px 0;
        background-image: url(../img/bg_recruit_em.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .recruit-bottle {
        z-index: 1;
        right: 5%;
        top: 40%;
        width: 150px;
        height: 330px;
        display: block;
    }
    .recruit_item4 {
        z-index: -1;
        right: 15%;
    }
}

@media(max-width:320px) {
    .recruit-bottle {
        z-index: 1;
        right: 5%;
        top: 50%;
        width: 100px;
        height: 230px;
        display: block;
    }
}

.recruit-detail-wrap,
.recruit-list-wrap {
    margin: 1.25rem auto;
    width: 60%;
    font-size: 0.875rem;
    color: #fff;
}

.recruit-title {
    text-align: center;
    font-size: 1.25rem;
    color: #B9872E;
}

.recruit-list-title {
    font-size: 17px;
    color: #B9872E;
}

.recruit-list {
    padding: 0;
    list-style: none;
}

.recruit-list li {
    margin-bottom: 20px;
    border-bottom: 2px solid #FBE8A3;
}

.recruit-list li:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.item-left {
    float: left;
    color: #FBE8A3;
}

.item-right {
    float: right;
}

.item-right a {
    padding: 0 5px;
    color: #FBE8A3;
    border-radius: 20px;
    border: 1px solid #FBE8A3;
}

.item-right a:hover {
    text-decoration: none;
}

.recruit-more {
    text-align: right;
}

.recruit-more span {
    display: inline-block;
    padding: 0 5px;
    border-radius: 20px;
    /* border: 1px solid #000; */
    font-size: 12px;
    background: #FBE7A4;
}

.recruit-more span a {
    color: rgba(0, 0, 0, 0.5);
}

.recruit-more span a:hover {
    text-decoration: none;
}

@media (max-width:768px) {
    .recruit-detail-wrap,
    .recruit-list-wrap {
        width: 90%;
    }
    .recruit-list li {
        margin-bottom: 20px;
        border-bottom: 0px solid #FBE8A3;
    }
    .item-left {
        float: none;
        /* text-align: center;
        font-size: 17px; */
    }
    .item-right {
        float: none;
        /* text-align: center; */
    }
    .recruit-more {
        text-align: center;
    }
}

/* 招聘 end */

/* 招聘详情 start */

.sub-detail-content {
    position: relative;
    background-image: url(../img/bg_recruit_em.jpg);
    background-size: cover;
    background-position: center;
}

.sub-recruit-detail-wrap,
.sub-recruit-list-wrap {
    margin: 0 auto;
    padding: 40px 0;
    width: 60%;
    font-size: 0.875rem;
    color: #fff;
}

.sub-recruit-list-wrap {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.job-detail {
    padding-bottom: 20px;
    font-size: 17px;
    text-align: left;
    font-weight: 100;
}

.job-detail p {
    min-height: 150px;
}

.job-detail p span {
    font-weight: 0;
}

.recruit_item1,
.recruit_item2 {
    position: absolute;
}

.recruit_item1 {
    width: 130px;
    bottom: 0;
    right: 15%;
}

.recruit_item2 {
    width: 200px;
    left: 0;
    bottom: 0;
}

@media (max-width:768px) {
    .sub-recruit-detail-wrap,
    .sub-recruit-list-wrap {
        width: 90%;
    }
    .recruit_item1 {
        width: 80px;
        bottom: 0;
        right: 10%;
    }
    .recruit_item2 {
        display: none;
    }
}

/* 招聘详情 end */