.bg {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section {
    overflow: hidden;
}
#section0 {
    background-image: url(../img/index/1.jpg);
}

#section1 {
    background-image: url(../img/index/2.jpg);
}

#section2 {
    background-image: url(../img/index/3.jpg);
}

#section3 {
    background-image: url(../img/index/4.jpg);
}

#section4 {
    background-image: url(../img/index/5.jpg);
}

#section5 {
    background-image: url(../img/index/6.jpg);
}

#section5 {
    max-height: 400px;
}

.main-wrap {
    min-height: 600px;
    margin-top: 30px;
}

.xiaobeiimg-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* .section {
    padding-top: 80px;
} */

.fp-tableCell {
    vertical-align: unset !important;
    padding-top: 80px;
}

.fp-scrollable {
    width: 100%;
    /* overflow: unset !important; */
}

.section:first-child .fp-scroller,
.section:first-child .fp-tableCell {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item1 {
    top: 100px;
    width: 400px;
}

.xiaobeiimg-wrap img {
    width: 45px;
}

.bottom-img {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}

.item2,
.item3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.item2 {
    top: 0;
    margin-top: 0;
    width: 50%;
}

.item3 {
    top: auto;
    margin-bottom: 0;
    width: 100%;
}

@media(min-width:768px) {
    .item3 {
        top: auto;
        bottom: -60px;
        left: -50px;
        margin-bottom: 0;
        width: 100%;
    }
}

@media(max-width:375px) {
    .item1 {
        width: 250px;
    }
    .xiaobeiimg-wrap img {
        width: 30px;
    }
    .item2 {
        width: 50%;
    }
    .item3 {
        width: 100%;
    }
}

@media(min-width:450px) and (max-width:768px) {
    .bottom-img {
        height: 300px;
    }
    .item2 {
        width: 50%;
    }
    .item3 {
        width: 100%;
    }
}

@media(min-width:768px)and (max-width:1366px) {
    .item1 {
        width: 800px;
    }
    .bottom-img {
        height: 500px;
    }
    .item2 {
        width: 400px;
    }
    .item3 {
        width: 800px;
    }
}

@media(min-width:1366px) {
    .item1 {
        top: 60px;
        width: 800px;
    }
    .item2 {
        width: 500px;
    }
    .item3 {
        width: 1000px;
    }
    .bottom-img {
        position: relative;
        width: 100%;
        height: 500px;
    }
}

.title {
    text-align: center;
}

.t1 {
    font-family: 'yuweij';
    font-size: 35px;
    color: #fff;
}

.t2 {
    margin-bottom: 20px;
    font-family: 'yuweij';
    font-size: 22px;
    color: #F6D612;
}

.t2 img {
    display: none;
    width: 40px;
}

.t2 span {
    display: inline-block;
    margin: 0 auto;
    width: 110px;
    text-align: center;
    border: 1px solid #fff;
}

@media(min-width:768px) {
    .t2 img {
        display: inline-block;
        margin: 0 15px 20px 0;
    }
    .t2 span {
        padding: 15px 0;
        margin-top: 20px;
        width: auto;
        /* height: 110px; */
        writing-mode: vertical-lr;
        /*从左向右 从右向左是 writing-mode: vertical-rl;*/
        writing-mode: tb-lr;
        border: 1px solid #fff;
        vertical-align: bottom;
    }
}

.video {
    height: 200px;
    text-align: center;
    border: 1px solid #F6D612;
}

@media(max-width:768px) {
    .video {
        text-align: center;
        height: auto;
    }
    .text {
        /* display: none; */
        /* height: 800px; */
        color: #fff;
        font-size: 14px;
        margin-top: 20px;
    }
    .text {
        /* height: 250px; */
        overflow: hidden;
    }
}

@media(min-width:1000px) {
    .video {
        text-align: center;
        height: auto;
    }
}

.text {
    padding-left: 20px;
    color: #fff;
    /* height: 500px; */
    overflow: hidden;
}

.img-wrap1 {
    position: relative;
}

.img-wrap1 img {
    display: block;
    margin: 0 auto;
}

.img-wrap1 .jinzita {
    width: 400px;
    height: 400px;
}

.itt1-wrap {
    display: none;
    font-family: "wenyue";
}

.itt {
    width: 80%;
    height: 75px;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    box-shadow: 1px 1px 10px #111;
    font-size: 17px;
}

.itt p {
    margin: 0;
}

.itt1,
.itt2,
.itt3 {
    background: #714504;
    color: #FFE79D;
}

.itt4,
.itt5,
.itt6 {
    background: #FFE79D;
    color: #714504;
}

@media(max-width:768px) {
    .itt1-wrap {
        z-index: 3;
        display: block;
        position: relative;
    }
    .img-wrap1 {
        display: none;
    }
    .it {
        height: 80px;
    }
    .img-wrap1 .jinzita {
        display: none;
    }
}

@media(max-width:375px) {
    .itt1-wrap {
        display: block
    }
    .img-wrap1 {
        display: none;
    }
    .it {
        width: 100%;
        height: 50px;
    }
    .img-wrap1 .jinzita {
        display: none;
    }
}

@media(min-width:768px) {
    .itt1-wrap {
        display: none;
    }
    .it {
        position: absolute;
        width: 300px;
        top: 0;
    }
    .it1 {
        top: 0;
        right: 52%;
    }
    .it2 {
        top: 28%;
        right: 54%;
    }
    .it3 {
        top: 57%;
        right: 55%;
    }
    .it4 {
        top: 0;
        left: 52%;
    }
    .it5 {
        top: 28%;
        left: 54%;
    }
    .it6 {
        top: 57%;
        left: 55.5%;
    }
}

@media(min-width:1366px) {
    .img-wrap1 .jinzita {
        width: 600px;
        height: 600px;
    }
    .it {
        position: absolute;
        width: 500px;
        top: 0;
    }
    .it1 {
        top: 0;
        right: 52%;
    }
    .it2 {
        top: 28%;
        right: 54%;
    }
    .it3 {
        top: 57%;
        right: 55%;
    }
    .it4 {
        top: 0;
        left: 52%;
    }
    .it5 {
        top: 28%;
        left: 54%;
    }
    .it6 {
        top: 57%;
        left: 55.5%;
    }
}

.swiper-wrap {
    width: 80%;
    margin: 0 auto;
    height: 400px;
}

.gallery-top {
    height: 50%;
}

.gallery-thumbs {
    height: 50%;
}

@media(max-width:768px) {
    .gallery-top {
        height: 100%;
    }
    .gallery-thumbs {
        display: none;
    }
}

.swiper-slide {
    text-align: center;
}

.ss {
    margin: 0 auto;
    width: 60%;
    height: 180px;
    line-height: 180px;
    border: 1px solid #A05A26
}

.ss img {
    width: 100%;
}

@media(min-width:1366px) {
    .ss {
        height: 280px;
        line-height: 280px;
    }
}

.swiper-slide-active .ss {
    box-shadow: 0 0 25px 2px #A05A26
}

.dec-title {
    width: 200px;
    font-size: 20px;
    margin: 20px auto;
    padding: 10px;
    color: #FEE499;
    background-image: url(../img/index/muban.png);
    background-size: cover;
}

@media(min-width:768px) {
    .dec-detail {
        margin-top: 20px;
        width: 60%;
    }
}

.dec-detail {
    font-size: 17px;
    color: #FEE499;
    text-indent: 2em;
    text-align: start;
}

@media(max-width:768px) {
    .dec {
        margin-top: 100px;
    }
}

@media(min-width:768px) {
    .dec .col-md-6 {
        display: flex;
        display: -webkit-flex;
        justify-content: flex-end;
    }
}

.liucheng-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.liucheng {
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.liucheng img {
    width: 20%;
}

@media(min-width:768px) {
    .liucheng {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .liucheng img {
        width: 10%;
    }
}

.zixun-item {
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 70%;
    color: #FFE59B;
    border-bottom: 1px solid #FFE59B;
}

.zixun-item p:first-child {
    background: #9B7F50;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.zixun-item p:nth-child(2) {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.zixun-item p:last-child {
    background: #9B8150;
    text-align: center;
    padding: 0 10px;
    border-radius: 20px;
}

.zixun-item p:last-child a {
    display: block;
    font-size: 12px;
    color: #fff;
}

@media(max-width:768px) {
    .zixun-item {
        width: 100%;
    }
    .zixun-item p:nth-child(2) {
        width: 50%;
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
    }
}

#section6 .fp-tableCell {
    vertical-align: bottom !important;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 50px 0;
    text-align: center;
}

.btn-wrap img {
    width: 80px;
    margin: 0 20px;
}

@media(min-width:768px) {
    .btn-wrap img {
        width: 120px;
        margin: 0 20px;
    }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff !important;
}

@media(min-width:768px) {
    .dec-title {
        width: 200px;
        font-size: 20px;
        margin: 0;
        padding: 10px;
        color: #FEE499;
        background-image: url(../img/index/muban.png);
        background-size: cover;
    }
    .dec-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 60%;
    }
}

.dropdown-menu {
    text-align: center;
}

.hua1 {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.hua2 {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
}