.bg {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section0 {
    background-image: url(../img/index/1.jpg);
}

#section1 {
    background-image: url(../img/index/2.jpg);
}

#section2 {
    background-image: url(../img/index/3.jpg);
}

#section3 {
    background-image: url(../img/index/4.jpg);
}

#section4 {
    background-image: url(../img/index/5.jpg);
}

#section5 {
    background-image: url(../img/index/6.jpg);
}

#section5 {
    max-height: 400px;
}

.main-wrap {
    margin-top: 30px;
}

.xiaobeiimg-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* .section {
    padding-top: 80px;
} */

.fp-tableCell {
    vertical-align: unset !important;
    padding-top: 80px;
}

.fp-scrollable {
    width: 100%;
    /* overflow: unset !important; */
}

.section:first-child .fp-scroller,
.section:first-child .fp-tableCell {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item1 {
    top: 100px;
    width: 400px;
}

.xiaobeiimg-wrap img {
    width: 45px;
}

.bottom-img {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}

.item2,
.item3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.item2 {
    top: 0;
    margin-top: 0;
    width: 50%;
}

.item3 {
    top: auto;
    margin-bottom: 0;
    width: 100%;
}

@media(max-width:375px) {
    .item1 {
        width: 250px;
    }
    .xiaobeiimg-wrap img {
        width: 30px;
    }
    .item2 {
        width: 50%;
    }
    .item3 {
        width: 100%;
    }
}

@media(min-width:450px) and (max-width:768px) {
    .bottom-img {
        height: 300px;
    }
    .item2 {
        width: 50%;
    }
    .item3 {
        width: 100%;
    }
}

@media(min-width:768px)and (max-width:1366px) {
    .item1 {
        width: 800px;
    }
    .bottom-img {
        height: 500px;
    }
    .item2 {
        width: 400px;
    }
    .item3 {
        width: 800px;
    }
}

@media(min-width:1366px) {
    .item1 {
        top: 60px;
        width: 800px;
    }
    .item2 {
        width: 500px;
    }
    .item3 {
        width: 1000px;
    }
    .bottom-img {
        position: relative;
        width: 100%;
        height: 500px;
    }
}

.title {
    text-align: center;
}

.t1 {
    font-family: 'yuweij';
    font-size: 35px;
    color: #fff;
}

.t2 {
    font-family: 'yuweij';
    font-size: 22px;
    color: #F6D612;
}

.t2 img {
    display: none;
    width: 40px;
}

.t2 span {
    display: inline-block;
    margin: 0 auto;
    width: 110px;
    text-align: center;
    border: 1px solid #fff;
}

@media(min-width:768px) {
    .t2 img {
        display: inline-block;
    }
    .t2 span {
        margin-top: 20px;
        width: auto;
        height: 110px;
        writing-mode: vertical-lr;
        /*从左向右 从右向左是 writing-mode: vertical-rl;*/
        writing-mode: tb-lr;
        border: 1px solid #fff;
        vertical-align: bottom;
    }
}

.video {
    height: 200px;
    text-align: center;
    border: 1px solid #F6D612;
}

@media(max-width:768px) {
    .video {
        text-align: center;
        height: auto;
    }
    .text {
        height: 800px;
        color: #fff;
        font-size: 14px;
        margin-top: 20px;
    }
}

@media(min-width:1000px) {
    .video {
        text-align: center;
        height: auto;
    }
}

.text {
    padding-left: 20px;
    color: #fff;
}

.img-wrap1 {
    position: relative;
}

.img-wrap1 img {
    display: block;
    margin: 0 auto;
}

.img-wrap1 .jinzita {
    width: 400px;
    height: 400px;
}

.itt1-wrap {
    display: none;
    font-family: "wenyue";
}

.itt {
    width: 80%;
    height: 75px;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    box-shadow: 1px 1px 10px #111;
    font-size: 17px;
}

.itt p {
    margin: 0;
}

.itt1,
.itt2,
.itt3 {
    background: #714504;
    color: #FFE79D;
}

.itt4,
.itt5,
.itt6 {
    background: #FFE79D;
    color: #714504;
}

@media(max-width:768px) {
    .itt1-wrap {
        display: block;
    }
    .img-wrap1 {
        display: none;
    }
    .it {
        height: 80px;
    }
    .img-wrap1 .jinzita {
        display: none;
    }
}

@media(max-width:375px) {
    .itt1-wrap {
        display: block
    }
    .img-wrap1 {
        display: none;
    }
    .it {
        width: 100%;
        height: 50px;
    }
    .img-wrap1 .jinzita {
        display: none;
    }
}

@media(min-width:768px) {
    .itt1-wrap {
        display: none;
    }
    .it {
        position: absolute;
        width: 300px;
        top: 0;
    }
    .it1 {
        top: 0;
        right: 52%;
    }
    .it2 {
        top: 28%;
        right: 54%;
    }
    .it3 {
        top: 57%;
        right: 55%;
    }
    .it4 {
        top: 0;
        left: 52%;
    }
    .it5 {
        top: 28%;
        left: 54%;
    }
    .it6 {
        top: 57%;
        left: 55.5%;
    }
}

@media(min-width:1366px) {
    .img-wrap1 .jinzita {
        width: 600px;
        height: 600px;
    }
    .it {
        position: absolute;
        width: 500px;
        top: 0;
    }
    .it1 {
        top: 0;
        right: 52%;
    }
    .it2 {
        top: 28%;
        right: 54%;
    }
    .it3 {
        top: 57%;
        right: 55%;
    }
    .it4 {
        top: 0;
        left: 52%;
    }
    .it5 {
        top: 28%;
        left: 54%;
    }
    .it6 {
        top: 57%;
        left: 55.5%;
    }
}
.swiper-wrap {
    width: 80%;
    margin: 0 auto;
    height: 400px;
}